* {
    background-color: #262655;
    color: white;
}

a {
    color: cornflowerblue;
}

#searchbar_results_container {
    z-index: 5;
    top: 100%;
    left: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: red;
    color: #262655;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white;
}