* {
    background-color: #262655;
    color: white;
}

a {
    color: cornflowerblue;
}

#searchbar_results_container {
    z-index: 5;
    top: 100%;
    left: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: red;
    color: #262655;
}