{% extends 'layout/base.html' %}
{% block content %}
<h1>{{playlist.name}}</h1>
<div class="container d-flex flex-column w-100 mx-auto">
    {% if playlist.get('tracks').get('items') %}
    {% for item in playlist.get('tracks').get('items') %}
    <div class="card mx-auto my-2 mb-1" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-3">
                <img src="{{item.track.album.images[0].url}}" class="img-fluid rounded-start" alt="Album Image">
            </div>
            <div class="col-7 d-flex align-items-center">
                <div class="card-body">
                    <a href="{{'/track/' + item.track.id | string }}">
                        <h5 class="card-title text-light">{{item.track.name}}</h5>
                    </a>
                    <p class="card-text text-light">{{item.track.artists[0].name}}</p>
                </div>
            </div>
            {% if playlist.owner.id == session['user_id'] %}
            <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                <form class="track_remove">
                    <input name="track_uri" type="hidden" value="{{item.track.uri}}" />
                    <input name="playlist_id" type="hidden" value="{{playlist.id}}" />
                    <button class="btn btn-danger">Remove</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center">
        <p>This playlist is currently empty. Search for some tracks to add!</p>
    </div>
    {% endif %}
</div>
{% endblock %}