{% extends 'layout/base.html' %}
{% block content %}
<h1>Playlists</h1>
<div class="container d-flex flex-wrap mx-auto">
    {% for playlist in playlists %}
    <div class="card mx-auto my-2" style="width: 18rem;">
        <img src="{{playlist.images[0].url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="{{'/playlists/' + playlist.id | string }}">
                <h5 class="card-title text-light">{{playlist.name}}</h5>
            </a>
            <p class="card-text text-light">{{playlist.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}