{% extends 'layout/base.html' %}
{% block content %}
<div class="container d-flex flex-column w-100 mx-auto">
    <div class="card mx-auto my-2 mb-1" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-3">
                <img src="{{track.album.images[0].url}}" class="img-fluid rounded-start" alt="Album Image">
            </div>
            <div class="col-7 d-flex align-items-center">
                <div class="card-body">
                    <h5 class="card-title text-light">{{track.name}}</h5>
                    </a>
                    <p class="card-text text-light">{{track.artists[0].name}}</p>
                </div>
            </div>
        </div>
    </div>
    <form id="add_track_to_playlist_form">
        <h5>Add track to playlist</h5>
        <input id="input_track_uri" name="track_uri" type="hidden" value="{{track.uri}}" />
        <div class="container w-50 mx-auto d-flex">
            <select id="select_playlist_id" name="playlist_id" class="form-select">
                <option value="">Select playlist...</option>
                {% for id, name in playlists %}
                <option value="{{id}}">{{name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary">Add</button>
        </div>
        <div id="addtrack_results_container" class="container w-50 mx-auto"></div>
    </form>
</div>
{% endblock %}